#footer {
  font-size: 0.95em;
  display: grid;
  justify-content: space-evenly;
  grid-template-areas:
    "welcome leaderboard-link github"
    "login leaderboard dark-mode";
  gap: 0.4rem;

  @media (width < 750px) {
    grid-template-areas:
      "welcome github"
      "login leaderboard-link"
      "leaderboard dark-mode";
  }
  @media (width < 600px) {
    font-size: 0.9em;
  }
  @media (width < 450px) {
    font-size: 0.85em;
    justify-content: space-between;
  }

  #welcome {
    grid-area: welcome;
  }
  #login {
    grid-area: login;
  }
  #leaderboard {
    grid-area: leaderboard;
  }
  #dark-mode {
    grid-area: dark-mode;
  }
  #github {
    grid-area: github;
  }
  #leaderboard-link {
    grid-area: leaderboard-link;
  }

  > * {
    margin: auto;
  }

  #welcome {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;

    @media (width <900px) {
      max-width: 300px;
    }
  }

  #github .bx {
    color: #04442c;
    font-size: 1.6rem;

    @media (width < 600px) {
      font-size: 1.55rem;
    }
    @media (width < 450px) {
      font-size: 1.5rem;
    }
  }

  .toggle-container {
    display: flex;
    align-items: center;

    label {
      position: relative;
      display: inline-block;
      width: 2.75rem;
      height: 1.5rem;

      .toggle {
        display: none;

        &:checked + .slider {
          background-color: #04442c;

          &::before {
            -webkit-transform: translateX(1rem);
            -ms-transform: translateX(1rem);
            transform: translateX(1rem);
          }
        }
      }

      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 2rem;
        background-color: #ccc;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        &::before {
          position: absolute;
          content: "";
          height: 1rem;
          width: 1rem;
          left: 0.25rem;
          bottom: 0.25rem;
          border-radius: 50%;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
        }
      }
    }
  }
}

@media print {
  footer {
    display: none;
  }
}
