input {
  width: 1rem;
  height: 1rem;

  /* if hover is available */
  @media not all and (hover: none) {
    &:not([type="text"]):enabled:hover {
      transform: scale(1.2);
    }
  }

  ~ * {
    margin-left: 0.25rem;
  }
}

select {
  margin-left: 0.5rem;
}

.bxs-x-circle {
  position: absolute;
  color: hsl(0, 80%, 45%);
  background-color: hsl(120, 28%, 95%);
  border-radius: 50%;
  font-size: 2rem;
}
