body {
  font-family: sans-serif;
  font-size: 1.1rem;

  margin: 0;
  background-color: hsl(120, 28%, 95%);

  a:is(:link, :visited) {
    color: blue;

    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .page {
    display: flex;
    flex-direction: column;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 4rem;
    margin-bottom: 2rem;

    @media screen {
      & > h1,
      #main,
      #quiz,
      #attempts-table-container,
      footer {
        margin-left: auto;
        margin-right: auto;
        width: 900px;
        max-width: 100%;
      }
      #quiz {
        margin: 1rem auto;
      }
    }
  }
}

@media (width < 600px) {
  body {
    font-size: 1.05rem;

    .page {
      margin-left: 2rem;
      margin-right: 2rem;
      margin-top: 3.5rem;
      margin-bottom: 1.5rem;
    }
  }
}
@media (width < 450px) {
  body {
    font-size: 1rem;

    .page {
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      margin-top: 3rem;
      margin-bottom: 1rem;

      > h1 {
        font-size: 7vw;
      }
    }
  }
}

@media print {
  body {
    font-size: 12pt !important;
    background-color: white;

    .page {
      margin: 1rem 1.5rem !important;
    }

    ul {
      padding-inline-start: 1.25rem !important;
    }
  }

  @page {
    margin: 0 !important;
  }
}
